# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
.DS_Store

# Other files to ignore
.history/
